table.tbl {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  border: 1px solid #1C6EA4;
  background-color: #FEFEFE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.tbl td, table.tbl th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.tbl tbody td {
  font-size: 13px;
}
table.tbl tr:nth-child(even) {
  background: #D0E4F5;
}
table.tbl thead {
  background: #1C6EA4;
  border-bottom: 2px solid #444444;
}
table.tbl thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.tbl thead th:first-child {
  border-left: none;
}